<div class="AD19_FindInsurWiz_final {{#if optional_classes}}{{optional_classes}}{{/if}}" {{#if id}}id="{{id}}"{{/if}}>
    {{{content.copy_text}}}
</div>

{{!

Description:

Find insurance wizard final

Single final result to show after the questionnaire.

from: The radio value selected.

Json usage:

{
    "id": "section_id",
    "optional_classes": "",
    "type": "AD19_FindInsurWiz_final",
    "content": {
        "from": "",
        "copy_text": ""
    }
}

}}
