<div class="AD19_Search-freq-search {{#if optional_classes}}{{optional_classes}}{{/if}}" {{#if id}}id="{{id}}"{{/if}}>
    <a href="#" title="{{content.option_text}}"><span>{{content.option_text}}</span></a>
</div>

{{!

Description:

Single entry of frequent search.

Json usage:

{
    "id": "section_id", (optional)
    "optional_classes": "",
    "type": "AD19_Search_freqSearch",
    "content": {
      "option_text": ""
    }
}

}}
