// GENERAL
$blue-waves: url("../images/assets/teasti-teaser-pattern-desktop.png") center center no-repeat;
$blue-waves-mobile: url("../images/assets/teasti-teaser-pattern-desktop-mobile.png") center center no-repeat;
$primary-color-1: #0E559E;
$secondary-color-1: #0E559E;
$primary-green-1: #62BB46;
$secondary-green-1: #B5DFA8;
$primary-blue-1: #2066D6;
$secondary-blue-1: #E7EEF8;
$primary-blue-2: #0066DA;
$secondary-blue-2: #F5F8FD;
$gray-color-1: #F4F4F4;

// BLACK & WHITE
$white: #FFFFFF;
$black: #000000;

// TEXT / FONT
$text-blue-main: #11284E;
$text-blue-light: $primary-blue-1;
$text-blue-dark: #0F1A2C;

$text-lightgreen: #62BB46;
$text-green-main: $primary-green-1;

$text-black-main: $black;
$text-white-main: $white;
