// File for setting specific styles for uber-uns page

#AD19_AboutTeaser-uber-uns-top.AD19_AboutTeaser {
  position: unset;
  margin-bottom: -320px;
}

#AD19_ContactTeaser-uber-uns {
  margin-top: 120px;
}
